* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.historico-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.titulo {
  font-size: 28px;
  margin-top: 20px;
}

.filtro-box {
  background: #e0f1fa;
  padding: 15px 25px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.filtro-box input {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filtro-box button {
  background: #0a7dc3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.filtro-box button:hover {
  background: #08639b;
}

.tabela-box {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  width: 900px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #bde8ff;
  padding: 12px;
  border: 1px solid #ccc;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
