.formularioTutor{
    width: 50vw;
    /* height: 1000px; */
    min-height: 95vh;
    background-color: var(--cinzaMedio);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
