* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --vermelho: #eb2404;
    --vermelhoEscuro: #870b0c;
    --azulClaro: #c3ecfe;
    --amarelo: #ffffba;
    --branco: #ffffff;
    --preto: black;
    --cinzaClaro: #F9F7F7;
    --cinzaMedio: #E7E7E7;
    --cinzaEscuro: #9F9F9F;
    --verde: #15863E;
}


.boxCadastroPet{
    width: 85vw;
    height: 100vh;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 50vw;
    height: 80vh;
    background-color: var(--cinzaMedio);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputFormulario{
    background-color: var(--branco);
    border-radius: 15px;
    width: 90%;
    height: 6vh;
}

#cadFotoPet{
    background-color: var(--branco);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#btSalvaAlteracao{
    background-color: var(--amarelo);
    border-radius: 15px;
    width: 95%;
    margin-bottom: 10px;
}

#btCancela{
    background-color: var(--cinzaEscuro);
    border-radius: 15px;
    width: 95%;
    margin-bottom: 10px;
}



.f1{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f2{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#inputBox1{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#inputBox2{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#inputBox3{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#inputBox4{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

label{
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 2px;
}