#cadFotoTutor {
    background-color: var(--branco);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fotoLabel{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: contain;
    background-color: var(--branco);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0; */
    /* margin: 0; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.formularioTutor {
    width: 50vw;
    height: 90vh;
    background-color: var(--cinzaMedio);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}